.content {
  width: 80%;
  min-width: 880px;
  margin: 0 auto;
}

.pull-right {
  clear:       both;
  text-align: right;
  float:      right;
}

.box {
  display: -webkit-box;
}

.half {
  width: 50%;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
  padding-left: 100px;
}
