img.icon.product {
  width: 120px;
}

img.icon.blog {
  width: 80px;
}

div.description {
  float: left;
  width: 100%;
}
div.description>div>div {
  width: 100%;
}
div.description>div>div>div.icon-wrapper {
  width: 30%;
}
div.description>div>div>div.intro-wrapper {
  width: 70%;
}

div.left {
}

div#footer {
  min-height: 30px;
  margin-bottom: 50px;
}
