html, body {
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  /* font-family: Syncopate,"Trebuchet MS";*/
  font-family: "Trebuchet MS";
  color:            rgba(90,90,90,1);
  background-color: #f0f0f0;
  width:  100%;
  height: 100%;
  padding:   0;
  margin:    0;
  clear:  both;
  white-space: nowrap;
}

div {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
         -box-sizing: border-box;
  white-space: nowrap;
}

small {
  color: #aaa;
}

hr {
  border:   0;
  height:   0;
  clear: both;
  border-top: 1px solid rgba(0,0,0,0.1);
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
  border-bottom: thin dashed rgba(0,0,0,0.1);
}

h3 {
  margin-bottom: 0;
  text-align: right;
  border-bottom: thin dotted rgba(0,0,0,0.1);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #aaa;
}
a:hover {
  color: #999;
}

blockquote {
  text-align: right;
  margin: 0;
  white-space: nowrap;
}
